<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- <form action="/contact-us?_method=DELETE" method="POST">
    <label for="fname" class="form-label">First name:</label><br>
    <input type="text" class="form-control" id="fname" name="fname" value="Tayebeh"><br>
    <label for="lname" class="form-label">Last name:</label><br>
    <input type="text" class="form-control" id="lname" name="lname" value="Safdari"><br><br>
    <input type="submit" value="Submit" class="btn btn-primary">
</form> -->

<form action="/contact-us" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <label for="fname" class="form-label">First name:</label><br>
    <input type="text" class="form-control" id="fname" name="fname" value="Tayebeh"><br>
    <label for="lname" class="form-label">Last name:</label><br>
    <input type="text" class="form-control" id="lname" name="lname" value="Safdari"><br><br>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
</body>
</html>